html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1504350274292-13f3a028f36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1339&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.register {
  
}

.form {
  max-width: 600px;
  flex-basis: 100%;
}

